.post-profile {
  display: flex;
  align-content: center;
}

.post-profile .author {
  display: flex;
  flex-direction: column;
}

.post-profile img {
  width: 32px;
  height: 32px;
  background: #fff;
  border-radius: 50%;
}

.post-profile .author p {
  margin: 2px 11px;
  color: #4a4a4a;
}

.post-profile .author span {
  margin: 0 11px;
  color: #9a9a9a;
  font-size: 11px;
}

.post-content {
  padding: 15px 0;
  border-bottom: 1px solid rgba(97, 97, 97, 0.1);
}

.post-content p {
  color: #4b3636;
}

.post-content img {
  width: 100%;
  margin: 5px 0 0 0;
}
